@charset "utf-8";
/* CSS Document */

.burrito {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 50%;
			}
			.title{
				text-align: center;
				border: 3px solid black;
				padding-bottom: 45px;
				padding-top: 45px;
				 font-size: 45px;
				color: black;
				background-color: darkgrey;
				
				
			}
			#title2{
				margin-left: auto;
				border: 3px solid black;
					
				
			} 
			
			#title2 {
  				background-color: darkgrey;
 				 color: black;
				padding-bottom: 45px;
				padding-top: 45px;
				  font-size: 45px;
 				 text-align: center;
			}
			.b {
				font-size: 20px;
				}
			
			.title3{
				border: 3px solid black;
  		 		text-align: center;
				font-size: 45px;
				background-color: darkgrey;
 				 color: black;
				padding-bottom: 45px;
				padding-top: 45px;
   			
			}		
			
			.S1{
				font-weight: bold;
				font-size: 20px;
			}

			
			
			#1computer {
				width: 300px;
				height: 1px;
				Border: 3px solid black;
			}

			.S2 {
				font-weight: bold;
				font-size: 20px;
			}

			#2Computer{
				float:right
			}

			
		